<div class="footer border-top">
      <div class="left">
         <div class="demo">&copy;2024 Wanderlust Private Limited</div>
         <div class="privacy">.Privacy</div>
          <div class="terms">.Terms</div>
      </div>

      <div class="right">
        <div class="fb"><i class="fa-brands fa-square-facebook"></i></div>
        <div class="insta"><i class="fa-brands fa-square-instagram"></i></div>
        <div class="linkdin"><i class="fa-brands fa-linkedin"></i></div>
      </div>
</div>